Repository nabondance/Trailhead-Stats, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, config, dependencies, documentation, source, images

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/*'

config:
  - changed-files:
      - any-glob-to-any-file: 'config/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file: 'CONTRIBUTING.md'
      - any-glob-to-any-file: '**/README.md'
      - any-glob-to-any-file: 'docs/*'

source:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

images:
  - changed-files:
      - any-glob-to-any-file: 'images/**/*'

refactor(config): use pnpm
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/mega-linter.yml
  .gitignore
  .prettierignore
  dist/licenses.txt
  package-lock.json
  package.json
  pnpm-lock.yaml
Labels: ci, dependencies

fix(config): fix eslintConfig
  package.json
Labels: dependencies

fix(core): remove useless require of github
  src/main.js
Labels: source

refactor(core): use octokit to do git calls
  __tests__/updatefile.test.js
  src/main.js
  src/updateFile.js
Labels: source

feat(core): use core.debug
  __tests__/cardgenerator.test.js
  __tests__/displaystats.test.js
  __tests__/main.test.js
  badges/coverage.svg
  src/actionInputs.js
  src/cardGenerator.js
  src/displayStats.js
  src/main.js
  src/updateFile.js
Labels: source

fix(core): remove unused require
  __tests__/main.test.js
  src/displayStats.js
  src/main.js
Labels: source

fix(core): remove unused mocks
  __tests__/main.test.js
  badges/coverage.svg
  dist/licenses.txt
Labels: none

ci(core): upload images on artifacts
  .github/workflows/ci.yml
Labels: ci

ci(core): ci run only on PR
  .github/workflows/ci.yml
Labels: ci

ci(core): upload and comment only if CI running on PR
  .github/workflows/ci.yml
Labels: ci

ci(config): harmonized workflows
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
Labels: ci

ci(config): removed useless things on codeQL workflow
  .github/workflows/codeql-analysis.yml
Labels: ci

ci(core): add Grafana
  .github/workflows/mega-linter.yml
Labels: ci

fix(ui): change the dimmed dark according to GH
  __tests__/cardcss.test.js
  src/cardCss.js
Labels: source

fix(core): create card folder if it doesn't exist
  .github/workflows/ci.yml
  __tests__/displaystats.test.js
  badges/coverage.svg
  src/displayStats.js
Labels: ci, source

feat(ui): displayed number are formatted to have spaces
  __tests__/__snapshots__/cardgenerator.test.js.snap
  badges/coverage.svg
  src/cardGenerator.js
Labels: source

fix(core): superbadges without url no longer display badly
  src/cardGenerator.js
Labels: source

feat(core): add event badges
  __tests__/__snapshots__/cardgenerator.test.js.snap
  __tests__/cardgenerator.test.js
  __tests__/displaystats.test.js
  __tests__/getstats.test.js
  badges/coverage.svg
  images/readme/card_dark.png
  images/readme/card_light.png
  src/cardCss.js
  src/cardGenerator.js
  src/displayStats.js
  src/getStats.js
  src/main.js
  src/queries.js
Labels: source, images

release: v1.3.0
  package.json
Labels: dependencies

feat(ui): reorder latest achievements
  src/cardGenerator.js
Labels: source

feat(core): allow new inputs: show-*
  README.md
  __tests__/__snapshots__/cardgenerator.test.js.snap
  __tests__/actioninputs.test.js
  __tests__/validators.test.js
  action.yml
  badges/coverage.svg
  src/actionInputs.js
  src/validators.js
Labels: documentation, source

feat(core): display depends on inputs
  .github/workflows/ci.yml
  README.md
  __tests__/__snapshots__/cardgenerator.test.js.snap
  __tests__/actioninputs.test.js
  __tests__/cardgenerator.test.js
  action.yml
  badges/coverage.svg
  images/readme/display_detail.png
  images/readme/display_hidden.png
  images/readme/display_icon.png
  images/readme/display_number.png
  images/readme/display_table.png
  images/readme/display_visible.png
  src/actionInputs.js
  src/cardCss.js
  src/cardGenerator.js
  src/displayStats.js
Labels: ci, documentation, source, images

refactor(config): nb-skills becomes show-skill-number
  .github/workflows/ci.yml
  README.md
  __tests__/actioninputs.test.js
  __tests__/cardgenerator.test.js
  __tests__/displaystats.test.js
  action.yml
  src/actionInputs.js
  src/cardGenerator.js
Labels: ci, documentation, source

feat(ui): dynamically display plural
  __tests__/__snapshots__/cardgenerator.test.js.snap
  __tests__/cardgenerator.test.js
  badges/coverage.svg
  src/cardGenerator.js
Labels: source

refactor(core): graphql pagination to get all the data
  .github/workflows/ci.yml
  __tests__/getstats.test.js
  badges/coverage.svg
  src/getStats.js
Labels: ci, source

refactor(core): getStats is factorized
  badges/coverage.svg
  src/getStats.js
  src/rankinfo.js
Labels: source

dd
  badges/coverage.svg
  src/getStats.js
Labels: source

ddd
  badges/coverage.svg
  src/getStats.js
Labels: source

simpler
  src/getStats.js
Labels: source

log
  src/getStats.js
Labels: source

more log
  src/getStats.js
Labels: source

maxpage
  src/getStats.js
Labels: source

retry 429
  src/getStats.js
Labels: source

reduce logs
  src/getStats.js
Labels: source

refactor(core): graphql pagination to get all the data
  .github/workflows/ci.yml
  __tests__/getstats.test.js
  badges/coverage.svg
  src/getStats.js
Labels: ci, source

test(core): delete folder created in test
  __tests__/displaystats.test.js
  badges/coverage.svg
  src/validators.js
Labels: source

fix(core): correct plural of badges
  __tests__/__snapshots__/cardgenerator.test.js.snap
  badges/coverage.svg
  src/cardGenerator.js
Labels: source

feat(ui): display detail name are in bold
  __tests__/__snapshots__/cardgenerator.test.js.snap
  src/cardGenerator.js
Labels: source

fix(ui): remove unused css
  __tests__/__snapshots__/cardgenerator.test.js.snap
  src/cardCss.js
Labels: source

feat(ui): card are now as wide as the Readme column
  __tests__/__snapshots__/cardgenerator.test.js.snap
  __tests__/cardgenerator.test.js
  images/readme/card_dark.png
  images/readme/card_light.png
  src/cardCss.js
  src/cardGenerator.js
Labels: source, images
