Repository nabondance/Trailhead-Stats, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, config, dependencies, documentation, source, images

.github/labeler.yml:

---
ci:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/*'

config:
  - changed-files:
      - any-glob-to-any-file: 'config/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file: 'package.json'
      - any-glob-to-any-file: 'package-lock.json'

documentation:
  - changed-files:
      - any-glob-to-any-file: 'CONTRIBUTING.md'
      - any-glob-to-any-file: '**/README.md'
      - any-glob-to-any-file: 'docs/*'

source:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*'

images:
  - changed-files:
      - any-glob-to-any-file: 'images/**/*'

feat(ui): card width is 800 to fit better
  __tests__/__snapshots__/cardgenerator.test.js.snap
  src/cardCss.js
Labels: source

ci(core): add Grafana
  .github/workflows/mega-linter.yml
Labels: ci

feat(ui): Display kind of stamp
  src/cardGenerator.js
  src/displayStats.js
Labels: source

drop me
  .github/workflows/ci.yml
Labels: ci

feat(ui): specify the dark theme style
  README.md
  __tests__/actioninputs.test.js
  __tests__/cardcss.test.js
  action.yml
  badges/coverage.svg
  images/readme/theme-dark_dark.png
  images/readme/theme-dark_dimmed.png
  images/readme/theme-dark_high-contrast.png
  src/actionInputs.js
  src/cardCss.js
  src/cardGenerator.js
Labels: documentation, source, images

feat(ui): skill bars are now on a log base
  __tests__/__snapshots__/cardgenerator.test.js.snap
  badges/coverage.svg
  src/cardCss.js
  src/cardGenerator.js
Labels: source

feat(ui): Display location of in person events
  __tests__/cardgenerator.test.js
  badges/coverage.svg
  src/displayStats.js
Labels: source

ci(config): Add GHA to auto update dependencies in dependabot PR
  .github/workflows/dependabot-build-deps.yml
  CONTRIBUTING.md
Labels: ci, documentation

ci(core): fix dependabot build deps
  .github/workflows/dependabot-build-deps.yml
Labels: ci

docs(core): update readme to recommend card instead of text
  README.md
Labels: documentation

docs(core): add Trailhead Stats logo
  README.md
  images/readme/THS_logo.svg
Labels: documentation, images

docs(release): add release badge on the Readme
  README.md
Labels: documentation

feat(core): select skill color theme
  README.md
  __tests__/actioninputs.test.js
  __tests__/cardcss.test.js
  action.yml
  images/readme/skill-theme-default-dark.png
  images/readme/skill-theme-default-light.png
  images/readme/skill-theme-halloween.png
  images/readme/skill-theme-olympic.png
  images/readme/skill-theme-spring.png
  images/readme/skill-theme-summer.png
  images/readme/skill-theme-winter.png
  src/actionInputs.js
  src/cardCss.js
  src/cardGenerator.js
Labels: documentation, source, images

refactor(core): separate theme and threshold logics
  README.md
  __tests__/cardcss.test.js
  badges/coverage.svg
  src/cardCss.js
  src/cardGenerator.js
Labels: documentation, source

feat(core): allow custom hexadecimal colors for skills
  README.md
  __tests__/actioninputs.test.js
  __tests__/cardcss.test.js
  __tests__/validators.test.js
  action.yml
  badges/coverage.svg
  src/actionInputs.js
  src/cardCss.js
  src/cardGenerator.js
  src/validators.js
Labels: documentation, source

docs(ui): specify images width and height on readme
  README.md
Labels: documentation

docs(core): Readme contains an How it Works
  README.md
Labels: documentation

docs(config): Add card examples
  README.md
  card-examples.md
  images/examples/aott-D.png
  images/examples/aott-L.png
  images/examples/certif-D.png
  images/examples/certif-L.png
  images/examples/default-D.png
  images/examples/default-L.png
  images/examples/details-D.png
  images/examples/details-L.png
  images/examples/numbers-D.png
  images/examples/numbers-L.png
  images/examples/spooky-D.png
  images/examples/spooky-L.png
  images/examples/summary-D.png
  images/examples/summary-L.png
  images/examples/uptodate-D.png
  images/examples/uptodate-L.png
Labels: documentation, images

build(deps): bump eslint to 9.15.0
  package.json
  pnpm-lock.yaml
Labels: dependencies

perf(config): Add crush-pics workflow
  .github/workflows/codeql-analysis.yml
  .github/workflows/crush-pics.yml
Labels: ci

drop me
  .github/workflows/crush-pics.yml
Labels: ci

fixup! perf(config): Add crush-pics workflow
  .github/workflows/crush-pics.yml
Labels: ci

chore(config): add grype config
  .grype.yaml
Labels: none

feat(ci): dependabot build deps push only when needed
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): Dependabot Build Dependencies can rerun other workflows
  .github/workflows/dependabot-build-deps.yml
  .mega-linter.yml
Labels: ci

ci(config): remove grype ignore
  .grype.yaml
Labels: none

release: v2.0.0
  README.md
  package.json
Labels: dependencies, documentation

fix(chore): temporarily disable Dependabot build dependencies for pull requests
  .github/workflows/dependabot-build-deps.yml
Labels: ci

feat(workflow): add Dependabot auto-merge workflow
  .github/workflows/dependabot-autp-merge.yml
Labels: ci

fix(ci): enhance Dependabot Build Dependencies
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): Dependabot Build Dependencies with better PAT
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): rename dependabot-autp-merge.yml to dependabot-auto-merge.yml
  .github/workflows/dependabot-auto-merge.yml
Labels: ci

fix(ci): simplify condition for Dependabot job execution
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): enhance Dependabot checkout logic with conditional PAT usage
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): streamline Dependabot checkout process by using default GitHub token
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): update Dependabot token to use PAT for rerun of GHA
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): update GitHub token references in Dependabot workflows
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): use GitHub app token for Dependabot checkout process
  .github/workflows/dependabot-build-deps.yml
Labels: ci

fix(ci): update Dependabot workflow to use GitHub PAT for checkout
  .github/workflows/dependabot-build-deps.yml
Labels: ci
