Repository nabondance/Trailhead-Stats, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, config, dependencies, documentation, source, images

.github/labeler.yml:

ci:
  - '.github/workflows/*'

config:
  - 'config/*'

dependencies:
  - 'package.json'
  - 'package-lock.json'

documentation:
  - 'CONTRIBUTING.md'
  - '**/README.md'
  - 'docs/*'

source:
  - 'src/**/*'

images:
  - 'images/**/*'

release: v0.3.0
  package.json
Labels: dependencies

doc(core): fix readme styling
  README.md
Labels: documentation

refactor(ui): move images
  README.md
  images/readme/display_html.png
  images/readme/display_text.png
Labels: documentation, images

feat(core): add rank icon png
  images/icon/adventurer.png
  images/icon/all-star-ranger.png
  images/icon/double-star-ranger.png
  images/icon/expeditioner.png
  images/icon/explorer.png
  images/icon/five-star-ranger.png
  images/icon/four-star-ranger.png
  images/icon/hiker.png
  images/icon/mountaineer.png
  images/icon/ranger.png
  images/icon/scout.png
  images/icon/triple-star-ranger.png
Labels: images

docs(ui): add codecov badge
  README.md
Labels: documentation

doc(ui): fix line jumping on readme
  README.md
Labels: documentation

feat(core): add rankIcon in the data
  dist/index.js
  src/displayStats.js
Labels: source

fix(core): remove console.log
  badges/coverage.svg
  dist/index.js
  src/updateFile.js
Labels: source

feat(core): add earned stamps
  __tests__/getstats.test.js
  badges/coverage.svg
  dist/index.js
  src/displayStats.js
  src/getStats.js
  src/main.js
  src/queries.js
Labels: source

doc(config): update version used in readme
  README.md
Labels: documentation

doc(core): add Abandoned Features
  README.md
Labels: documentation

docs(core): update more precise real life example
  README.md
Labels: documentation

style(core): add action branding
  action.yml
Labels: none

docs(core): refactor inputs descriptions
  README.md
Labels: documentation

style(config): eslint ignore package.json
  .eslintignore
Labels: none

style(config): disable line length for tables in .md
  .github/linters/.markdown-lint.yml
Labels: none
